<app-header></app-header>
<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>Walk with us !</p>
      <button class="btnRegister" type="button" routerLink="/professor/login">
        Login</button
      ><br />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 register-right">
      <ul
        style="width: 200px"
        class="nav nav-tabs nav-justified"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-tab"
            data-toggle="tab"
            routerLink="/student/Enroll"
            role="tab"
            aria-controls="home"
            aria-selected="false"
          >
            Student
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            id="profile-tab"
            data-toggle="tab"
            routerLink="/professor/Enroll"
            role="tab"
            aria-controls="profile"
            aria-selected="true"
            >Trainer</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Apply As Trainer</h3>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <!-- form begins -->
          <div class="row register-form">
            <form [formGroup]="proForm" (ngSubmit)="registerEmployee()">
              <div class="row register-form">
                <!-- LEFT SIDE -->
                <div class="col-md-6">
                  <!-- FNAME -->

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="first Name *"
                      required
                      formControlName="fname"
                    />
                    <span
                      *ngIf="
                        !proForm.get('fname').valid &&
                        proForm.get('fname').touched
                      "
                      class="help-block"
                      >first Name cannot be blank!</span
                    >
                  </div>
                  <!-- email -->
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="email *"
                      required
                      formControlName="email"
                    />
                    <span
                      *ngIf="
                        !proForm.get('email').valid &&
                        proForm.get('email').touched
                      "
                      class="help-block"
                      >Enter Valid email!</span
                    >
                  </div>
                  <!-- DOB -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      min="1980-01-01"
                      max="2000-01-01"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      placeholder="Birth Date"
                      required
                      formControlName="DOB"
                    />
                    <span
                      *ngIf="
                        !proForm.get('DOB').valid && proForm.get('DOB').touched
                      "
                      class="help-block"
                      >Enter Correct D.O.B!</span
                    >
                  </div>
                  <!-- qual -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="qual"
                    >
                      <option class="hidden" value="" disabled selected>
                        Highest Qualification *
                      </option>
                      <option value="Post Graduate In Computer Science">
                        PG In CS
                      </option>
                      <option value="PHD In Computer Science">PHD In CS</option>
                    </select>
                    <span
                      *ngIf="
                        !proForm.get('qual').valid &&
                        proForm.get('qual').touched
                      "
                      class="help-block"
                      >Qualification cannot be blank</span
                    >
                  </div>
                  <!-- company -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="current company*"
                      required
                      formControlName="comp"
                    />
                    <span
                      *ngIf="
                        !proForm.get('comp').valid &&
                        proForm.get('comp').touched
                      "
                      class="help-block"
                      >company name shouldnot be empty</span
                    >
                  </div>
                  <!-- course -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="course"
                    >
                      <option class="hidden" value="" disabled selected>
                        ictak course handling *
                      </option>
                      <option *ngFor="let c of courses" [value]="c">
                        {{ c }}
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !proForm.get('course').valid &&
                        proForm.get('course').touched
                      "
                      class="help-block"
                      >course name shouldnot be empty</span
                    >
                  </div>

                  <!-- State -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="State"
                    >
                      <option class="hidden" value="" disabled selected>state *</option>
                      <option *ngFor="let state of indianStates" value="state">
                        {{ state }}
                      </option>
                    </select>

                    <span
                      *ngIf="
                        !proForm.get('State').valid &&
                        proForm.get('State').touched
                      "
                      class="help-block"
                      >State cannot be empty!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Post *"
                      required
                      formControlName="Post"
                    />
                    <span
                      *ngIf="
                        !proForm.get('Post').valid &&
                        proForm.get('Post').touched
                      "
                      class="help-block"
                      >Post Name Cannot be blank!</span
                    >
                  </div>
                  <!-- Gender -->
                  <div class="form-group">
                    <div class="maxl">
                      <label class="radio inline">
                        <input
                          type="radio"
                          required
                          formControlName="Gender"
                          value="Male"
                          checked
                        />
                        <span> Male </span>
                      </label>
                      <label class="radio inline">
                        <input
                          type="radio"
                          required
                          formControlName="Gender"
                          value="Female"
                        />
                        <span>Female </span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- right side -->
                <div class="col-md-6">
                  <!-- lname -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="last Name *"
                      required
                      formControlName="lname"
                    />
                    <span
                      *ngIf="
                        !proForm.get('lname').valid &&
                        proForm.get('lname').touched
                      "
                      class="help-block"
                      >last Name cannot be blank!</span
                    >
                  </div>

                  <!-- phno -->
                  <div class="form-group">
                    <input
                      type="text"
                      Name="txtEmpPhone"
                      class="form-control"
                      placeholder="phone *"
                      required
                      formControlName="phno"
                    />
                    <span
                      *ngIf="
                        !proForm.get('phno').valid &&
                        proForm.get('phno').touched
                      "
                      class="help-block"
                      >Enter valid phno number!</span
                    >
                  </div>
                  <!-- image -->
                  <div class="form-group form-file">
                    <input
                      type="file"
                      class="form-file-input form-control"
                      (change)="selectImage($event)"
                      accept="image/png, image/gif, image/jpeg"
                    />
                    <span
                      *ngIf="
                        !proForm.get('img').valid && proForm.get('img').touched
                      "
                      class="help-block"
                      >image cannot be empty!</span
                    >
                  </div>

                  <!-- company -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="designation*"
                      required
                      formControlName="desgn"
                    />
                    <span
                      *ngIf="
                        !proForm.get('desgn').valid &&
                        proForm.get('desgn').touched
                      "
                      class="help-block"
                      >designation required</span
                    >
                  </div>
                  <!-- skill -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="skill sets *"
                      required
                      formControlName="skill"
                    />
                    <span
                      *ngIf="
                        !proForm.get('skill').valid &&
                        proForm.get('skill').touched
                      "
                      class="help-block"
                      >skill set is required</span
                    >
                  </div>
                  <!-- address -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="address "
                      required
                      formControlName="address"
                    />
                    <span
                      *ngIf="
                        !proForm.get('address').valid &&
                        proForm.get('address').touched
                      "
                      class="help-block"
                      >enter valid address!</span
                    >
                  </div>
                  <!-- District -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="District *"
                      required
                      formControlName="District"
                      type="text"
                    />
                    <span
                      *ngIf="
                        proForm.get('District').invalid &&
                        proForm.get('District').touched
                      "
                      class="help-block"
                      >District cannot be blank !</span
                    >
                  </div>
                  <!-- pincodde -->
                  <div class="form-group">
                    <input
                      placeholder="enter pincode "
                      type="number"
                      min="100000"
                      max="999999"
                      class="form-control"
                      required
                      formControlName="PinCode"
                    />
                    <span
                      *ngIf="
                        !proForm.get('PinCode').valid &&
                        proForm.get('PinCode').touched
                      "
                      class="help-block"
                      >Enter Valid pin code !</span
                    >
                  </div>
                  <button type="submit" class="btnRegister">register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
