<app-header></app-header>
<section id="section">
  <!-- Student Profile -->
  <div class="student-profile py-4 mt-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img
                *ngIf="Student.image"
                class="profile_img"
                [src]="
                  'data:image/' +
                    Student.image.contentType +
                    ';base64,' +
                    Student.imageUrl | safe
                "
                alt="student dp"
              />
              <form
                *ngIf="changePhoto"
                class="mb-3"
                [formGroup]="photoUpdateForm"
                (ngSubmit)="onImageUpload()"
              >
                <div class="mb-3">
                  <div class="form-file custom-file">
                    <input
                      class="form-file-input"
                      formControlName=""
                      type="file"
                      (change)="selectImage($event)"
                      accept="image/png, image/gif, image/jpeg"
                    />
                  </div>
                </div>
                <input
                  type="submit"
                  class="btn btn-sm btn-warning"
                  value="change"
                />
              </form>
              <button
                *ngIf="!changePhoto"
                (click)="changeOption()"
                style="width: 100px"
                class="btn btn-sm btn-success"
                type="button"
              >
                change
              </button>

              <h3>{{ Student.Name }}</h3>
            </div>
            <div *ngIf="Student.PaymentDate" class="card-body">
              <p class="mb-0">
                <strong class="pr-1">Student ID:</strong>{{ Student.Suid }}
              </p>
              <p class="mb-0">
                <strong class="pr-1">Batch:</strong>{{ Student.Course }}
              </p>
              <p class="mb-0"><strong class="pr-1">Section:</strong>Retail</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">
                <i class="bi bi-person-lines-fill"></i>General information
              </h3>
            </div>
            <!-- loading spinner -->
            <div *ngIf="isLoading" style="text-align: center">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <!-- <form (ngSubmit)="updateProfile()"> -->
            <form
              [formGroup]="studentUpdateForm"
              (ngSubmit)="onUpdateStudent()"
            >
              <div class="card-body pt-0">
                <table class="table table-responsive">
                  <tr>
                    <th width="30%">Student Name</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        type="text"
                        [value]="Student.Name"
                     
                        readonly
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Email</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        [readonly]="readonly"
                        type="text"
                    
                        formControlName="Email"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Phone</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        [readonly]="readonly"
                        type="text"
                        formControlName="Phone"
                       
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>
                  <!-- Gender -->
                  <tr>
                    <th width="30%">Gender</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        readonly
                        type="text"
                        [value]="Student.Sex"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>
                  <!-- dob -->
                  <tr>
                    <th width="30%">Date Of Birth</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        [value]="Student.DOB | date"
                        type="text"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        readonly
                      />
                    </td>
                  </tr>

                  <!-- State -->
                  <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                      formControlName='State'

                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <!-- District -->
                  <tr>
                    <th width="30%">District</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                      formControlName='District'
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <!-- Course -->
                  <tr>
                    <th width="30%">Technology Training</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        *ngIf='readonly'
                        class="form-control"
                        type="text"
                        formControlName="Course"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                      <select *ngIf="!readonly" [ngClass]="{
                        Border: !readonly,
                        noBorder: readonly
                      }" formControlName="Course">
                        <option class="hidden" value="" disabled selected>
                          Interested Course *
                        </option>
                        <option value="MeanStack">MeanStack</option>
                        <option value="CyberSecurity">CyberSecurity</option>
                        <option value="DataScience">DataScience</option>
                        <option value="Robotics">Robotics</option>
                        <option value="DigitalMarketing">DigitalMarketing</option>
                      </select>
                    </td>
                  </tr>
                  <!-- HighestQualification -->
                  <tr>
                    <th width="30%">Highest Qualification</th>
                    <td width="2%">:</td>
                    <td *ngIf="readonly">{{Student.HighestQualification}}</td>
                    <td *ngIf="!readonly">
                      <select
                      [ngClass]="{
                        Border: !readonly,
                        noBorder: readonly
                      }"
                        formControlName="HighestQualification"
                      >
                        <option class="hidden" value="" disabled selected>
                          Highest Qualification *
                        </option>
                        <option value="PostGraduateInCS">
                          Post Graduate In Computer Science
                        </option>
                        <option value="GraduateInCS">
                          Graduate In Computer Science
                        </option>
                        <option value="Graduate">
                          Graduate In Other Streams
                        </option>
                        <option value="PostGraduate">
                          Post GraduateIn Other Streams
                        </option>
                      </select>
                    </td>
                  </tr>

                  <!-- PassOfYear -->
                  <tr>
                    <th width="30%">Pass Out Year</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                     
                      <input
                        [readonly]="readonly"
                        class="form-control Border"
                        formControlName="PassOfYear"
                        type="number"
                        min="2010"
                        max="2021"
                        step="1"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>
                </table>

                <div *ngIf="readonly && isApproved">
                  <button
                    *ngIf="showDeleteButton"
                    (click)="update()"
                    class="btn btn-sm btn-warning"
                  >
                    Update
                  </button>
                  <button
                    *ngIf="showDeleteButton"
                    type="button"
                    (click)="deleteProfile()"
                    class="btn btn-sm btn-danger"
                  >
                    Delete
                  </button>
                </div>

                <div *ngIf="!readonly">
                  <button
                    *ngIf="showDeleteButton"
                    class="btn btn-success btn-sm"
                  >
                    Save
                  </button>
                  <button
                    *ngIf="showDeleteButton"
                    type="button"
                    (click)="discard()"
                    class="btn btn-info btn-sm"
                  >
                    Discard
                  </button>
                </div>
              </div>
            </form>
            <!-- fdafafaf -->
            <div *ngIf="_auth.getUser() == 'admin'">
              <button
                *ngIf="!isApproved"
                (click)="onApprove(Student._id, Student.Course, Student.Email)"
                class="btn btn-sm btn-success"
              >
                Approve
              </button>
              <button
                *ngIf="!isApproved"
                (click)="onReject(Student._id, Student.Course, Student.Email)"
                class="btn btn-sm btn-danger"
              >
                reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
</section>
<app-footer></app-footer>
