<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bi bi-ui-checks"></i>
      <span class="dashboard">Allocated Trainers</span>
    </div>
  </nav>

  <div class="home-content">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12" *ngFor="let trainer of trainers">
            <div class="card">
              <div class="card-body">
                <div class="alert alert-success" data-notify="container">
                  <h2>
                    Course : {{ trainer.course }} <br />
                    Batch : {{ trainer.batchid }}
                  </h2>
                  <hr />
                  <h3 style="font-weight: 500; font-size: 20px">
                    {{ trainer.fname }}&nbsp;{{ trainer.lname }}
                  </h3>
                  <small style="font-weight: 700"
                    >Duration : ({{
                      trainer.startdate
                    }})&nbsp;&nbsp;-&nbsp;&nbsp;({{ trainer.enddate }})
                    <br />Time - {{ trainer.time }} <br />Meeting Link / Venue :
                    {{ trainer.meetinglink }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
