<header class="bg-dark py-5">
  <app-header></app-header>
  <div class="container px-5" style="padding: 40px; margin-top: 20px">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1
            class="display-5 fw-bolder text-white mb-2"
            style="font-size: 3em"
          >
            Course Management System
          </h1>
          <br />
          <p class="lead text-white-50 mb-4">
            Quickly join us to grab the oppurtunity to study with us
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-lg px-4 me-sm-3" id="btn1" href="#Courses"
              >Courses</a
            >
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/signup"
              >Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<mat-sidenav-container>
  <!-- Features section-->

  <!-- End More Features Section -->
  <section class="py-5 border-bottom" id="Courses">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 20px">
            CERTIFIED SPECIALIST IN FULL STACK DEVELOPMENT using MERN
          </h2>
          <p style="text-align: justify">
            The MERN stack is an excellent choice for web developers who wish to
            develop high-quality web applications using JavaScript. The core
            technologies define the MERN stack – MongoDB, Express.js, React, and
            Node.js – all are based on one language, Javascript. MERN stack, in
            addition to using high-performance and customized technologies,
            allows for easier and faster deployment of full-stack web
            applications. Its flexibility and open-source nature make it popular
            among developers. This program helps the learners to build
            data-driven applications, as well as test, secure, and deploy their
            code.
          </p>
          <h6>Note :-</h6>
          <ul>
            <li>Course Duration:- Six Months</li>
            <li>Age Limit:– 56</li>
            <li>Course Fee​:- Rs 19,700 + GST</li>
          </ul>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 53px">
            CERTIFIED XR ASSOCIATE
          </h2>
          <p style="text-align: justify">
            The core objective of the course would be to prepare students for
            the new and exciting ecosystem of Immersive Technologies. This would
            include exposing them to the media, the hardware, and software, and
            imparting them with trans disciplinary skills like Technical art,
            Design, and Programming. Students will learn how to create a simple
            interactive game, an engaging Augmented Reality application, and
            understand the underlying concepts of Virtual reality and showcase
            and demonstrative capability to handle any time real application.
          </p>
          <h6>Note :-</h6>
          <ul>
            <li>Course Duration:- Six Months</li>
            <li>Age Limit:– 56</li>
            <li>Course Fee​:- Rs 19,700 + GST</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 20px">
            CERTIFIED CYBER SECURITY ANALYST
          </h2>
          <p style="text-align: justify">
            Cyber Security is a specialized field in Information Technology (IT)
            which is regarded as a sub stream in Computer Science . Cyber
            Security as a profession is evolving over the years, the reason
            being the increasing rate of cyber crimes. This Course has been
            designed to give you a foundational look at today’s cyber security
            landscape and also understand about various cyber attacks. Also aims
            to equip students with the knowledge of basic concepts , cyber
            security standards ,Career and Market demands and much more.
          </p>
        </div>
        <br />
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 20px">
            CERTIFIED SPECIALIST IN DIGITAL MARKETING
          </h2>
          <p style="text-align: justify">
            Digital marketing is the act of promoting and selling products and
            services by leveraging online marketing tactics such as social media
            marketing, search marketing,and email marketing. Companies are
            looking for digital marketing professionals with a varied skill set
            across sub-domains
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 50px">
            SOFTWARE TESTING
          </h2>
          <p style="text-align: justify">
            Software testing is the process of evaluating and verifying that a
            software product or application does what it is supposed to do. The
            benefits of testing include preventing bugs, reducing development
            costs and improving performance.
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 20px">
            MICRO SKILLS TRAINING ON ROBOTIC PROCESS AUTOMATION
          </h2>
          <p style="text-align: justify">
            Robotic process automation (RPA) is the use of software with
            artificial intelligence (AI) and machine learning capabilities to
            handle high-volume, repeatable tasks that previously required humans
            to perform.
          </p>
        </div>
        <br />
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 10px">
            CERTIFIED SPECIALIST IN DATA SCIENCE AND ANALYTICS
          </h2>
          <p style="text-align: justify">
            Data Scientists is a breed of data experts who have the technical
            skills to solve complex problems whereas analytics interpret data
            and turn it into information which can offer ways to improve a
            business.So it’s no surprise many people are clamoring to find how
            to learn data science and analytics. ICT Academy of Kerala offers a
            specialized certificate course on “Data Science and Analytics”.
          </p>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 35px">AWS EDUCATE</h2>
          <p style="text-align: justify">
            The AWS Educate program (“AWS Educate”) is Amazon’s global
            initiative to provide students and educators with the resources
            needed to greatly accelerate cloud-related learning and to help
            power the workforce of tomorrow. The program offers a robust set of
            no-cost tools, resources, and AWS Promotional Credits for students
            and educators to skill up on the cloud.
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 36px">MOODLE</h2>
          <p style="text-align: justify">
            Moodle is the world’s most popular open source learning management
            system, extensively used to create learning platforms in education
            and workplaces globally.The Moodle LMS is cost effective, with no
            associated software licensing and is probably the best Learning
            management system which supports a lot of useful functions and
            customization
          </p>
        </div>
        <br />
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder">
            CERTIFIED SPECIALIST IN MACHINE LEARNING AND ARTIFICIAL INTELLIGENCE
          </h2>
          <p style="text-align: justify">
            Machine Learning jobs are high in demand and continue to be the
            winners in today’s world. This course is complemented with the Data
            science course offering students a wider platform of recognition of
            Diploma in both the fields.
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 60px">
            ARM EMBEDDED SYSTEMS
          </h2>
          <p style="text-align: justify">
            Embedded Systems find its application in almost all part of our life
            Home, Office Automation, Telecom, Automotive, Defense, Aerospace,
            Industrial Automation, etc. The students mastering this technology
            stand to benefit in the employment opportunities from all the
            organizations involved in these areas.
          </p>
        </div>
        <!-- <div class="col-lg-4 mb-5 mb-lg-0">
           <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
           <h2 class="h4 fw-bolder" style="padding-bottom: 30px">
             IOT FOR ENGINEERING APPLICATIONS
           </h2>
           <p style="text-align: justify">
             The Internet of things (IoT) is the inter-networking of physical
             devices, vehicles (also referred to as “connected devices” and
             “smart devices”), buildings, and other items—embedded with
             electronics, software, sensors, actuators, and network connectivity
             that enable these objects to collect and exchange data.
           </p>
         </div> -->
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</mat-sidenav-container>
