<app-header></app-header>
<header class="bg-dark py-5">
  <div class="container px-5" style="padding: 40px; margin-top: 20px">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1
            class="display-5 fw-bolder text-white mb-2"
            style="font-size: 3em"
          >
            Course Management System
          </h1>
          <br />
          <p class="lead text-white-50 mb-4">
            Quickly join us to grab the oppurtunity to study with us
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-lg px-4 me-sm-3" id="btn1" href="#Courses"
              >Courses</a
            >
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/signup"
              >Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<mat-sidenav-container>
  <!-- Features section-->

  <!-- End More Features Section -->
  <section class="py-5 border-bottom" id="Courses">
    <div class="container px-5 my-5">
      <div class="row gx-5" >
        <div class="col-lg-4 mb-5 mb-lg-0"*ngFor="let course of courses">
          <div
            class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
          ></div>
          <h2 class="h4 fw-bolder" style="padding-bottom: 20px">
            {{ course.title }}
          </h2>
          <p style="text-align: justify">
            {{ course.description }}
          </p>
          <h6>Note :-</h6>
          <ul>
            <li>Course Duration:- {{ course.duration }} Months</li>
            <li>Age Limit:– {{ course.ageLimit }} years old</li>
            <li>Course Fee​:- Rs {{ course.fee }} + GST</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</mat-sidenav-container>
