<app-header></app-header>
<section id="section">
  <!-- professor Profile -->
  <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <!-- *********************************************** -->
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img
                class="profile_img"
                src="https://source.unsplash.com/600x300/?student"
                alt="student dp"
              />

              <h3>{{ professor.fname }} {{professor.lname}}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0">
                <strong class="pr-1">professor ID:</strong>321000001
              </p>
              <p class="mb-0"><strong class="pr-1">Specialised:</strong>PHP</p>
              <p class="mb-0">
                <strong class="pr-1">Section:</strong>corporate
              </p>
            </div>
          </div>
        </div>
        <!-- ********************************************************* -->
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">
                <i class="bi bi-person-lines-fill"></i>General information
              </h3>
            </div>
            <!-- loading-spinner -->
            <div *ngIf="isLoading" style="text-align: center">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <!-- <form (ngSubmit)="updateProfile()"> -->
            <form [formGroup]="UpdateForm" (ngSubmit)="updateProfile()">
              <div class="card-body pt-0">
                <table class="table table-responsive">
                  <tr>
                    <th width="30%">first Name</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        *ngIf="readonly"
                        type="text"
                        [value]="professor.fname"
                        class="noBorder"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        formControlName="fname"
                        type="text"
                        class="form-control Border"
                        [value]="professor.fname"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">last name</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        *ngIf="readonly"
                        type="text"
                        [value]="professor.lname"
                        class="noBorder"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        formControlName="fname"
                        type="text"
                        class="form-control Border"
                        [value]="professor.lname"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Email</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        *ngIf="readonly"
                        type="text"
                        [value]="professor.email"
                        class="noBorder"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        type="text"
                        class="form-control Border"
                        formControlName="email"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Phone</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        *ngIf="readonly"
                        type="text"
                        [value]="professor.phno"
                        class="noBorder"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        type="text"
                        formControlName="professor.phno"
                        class="form-control Border"
                      />
                    </td>
                  </tr>
                  <!-- Gender -->
                  <tr>
                    <th width="30%">Gender</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        readonly
                        type="text"
                        [value]="professor.Gender"
                        [ngClass]="{
                          noBorder: readonly
                        }"
                        readonly
                      />
                    </td>
                  </tr>
                  <!-- dob -->
                  <tr>
                    <th width="30%">Date Of Birth</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        readonly
                        [value]="professor.DOB | date"
                        type="text"
                        class="noBorder"
                        readonly
                      />
                    </td>
                  </tr>

                  <!-- State -->
                  <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        readonly
                        [value]="professor.State"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        readonly
                      />
                    </td>
                  </tr>
                  <!-- District -->
                  <tr>
                    <th width="30%">District</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        *ngIf="readonly"
                        [value]="professor.District"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        [value]="professor.District"
                        class="form-control"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        readonly
                      />
                    </td>
                  </tr>

                  <!-- HighestQualification -->
                  <tr>
                    <th width="30%">Highest Qualification</th>
                    <td width="2%">:</td>
                    <td *ngIf="readonly" [class.editModeOn]="!readonly">
                      <input
                        [value]="professor.qual"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                    <td *ngIf="!readonly">
                      <select
                        class="form-control Border"
                        formControlName="qual"
                      >
                        <option class="hidden" value="" disabled selected>
                          Highest Qualification *
                        </option>
                        <option value="PostGraduateInCS">
                          Post Graduate In Computer Science
                        </option>
                        <option value="GraduateInCS">
                          Graduate In Computer Science
                        </option>
                        <option value="Graduate">
                          Graduate In Other Streams
                        </option>
                        <option value="PostGraduate">
                          Post GraduateIn Other Streams
                        </option>
                      </select>
                    </td>
                  </tr>
                  
                  <!-- SkillSet -->
                  <tr>
                    <th width="30%">Skill Set</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        *ngIf="readonly"
                        type="text"
                        [value]="professor.skill"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                        readonly
                      />
                      <input
                        *ngIf="!readonly"
                        formControlName="skill"
                        type="text"
                        class="form-control noBorder"
                        [value]="professor.SkillSet"
                        [ngClass]="{
                          Border: !readonly,
                          noBorder: readonly
                        }"
                      />
                    </td>
                  </tr>

                  <!-- Password -->
           
                </table>
                <div *ngIf="readonly">
                  <button
                    *ngIf="owner || showDeleteButton"
                    (click)="update()"
                    class="btn btn-sm btn-warning"
                  >
                    Update
                  </button>
                  <button
                    *ngIf="showDeleteButton"
                    type="button"
                    (click)="deleteProfile()"
                    class="btn btn-sm btn-danger"
                  >
                    Delete
                  </button>
                </div>

                <div *ngIf="!readonly">
                  <button *ngIf="showEditButton" class="btn btn-success btn-sm">
                    Save
                  </button>
                  <button
                    *ngIf="showEditButton"
                    type="button"
                    (click)="discard()"
                    class="btn btn-info btn-sm"
                  >
                    Discard
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
</section>
<app-footer></app-footer>
