<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bi bi-layout-text-sidebar-reverse"></i>
      <span class="dashboard">Trainer Approval</span>
    </div>
  </nav>

  <div class="home-content">
    <div class="main-content">
      <div class="container-fluid">
        <div class="col-md-11">
          <div class="card card-plain">
            <form (ngSubmit)="onApprove()" ngNativeValidate>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>First Name</th>
                    <td>
                      {{ request.fname }}
                    </td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>
                      {{ request.lname }}
                    </td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>
                      {{ request.address }}
                    </td>
                  </tr>
                  <tr>
                    <th>Phone Number</th>
                    <td>
                      {{ request.phno }}
                    </td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>
                      {{ request.email }}
                    </td>
                  </tr>
                  <tr>
                    <th>Highest Qualification</th>
                    <td>
                      {{ request.qual }}
                    </td>
                  </tr>
                  <tr>
                    <th>Skill</th>
                    <td>
                      {{ request.skill }}
                    </td>
                  </tr>
                  <tr>
                    <th>Current Company Name</th>
                    <td>
                      {{ request.comp }}
                    </td>
                  </tr>
                  <tr>
                    <th>Current Designation</th>
                    <td>
                      {{ request.desgn }}
                    </td>
                  </tr>
                  <tr>
                    <th>ICTAK COURSE</th>
                    <td>
                      {{ request.course }}
                    </td>
                  </tr>
                  <tr>
                    <th>Type of Employment</th>
                    <td>
                      <select
                        class="form-select form-select-lg"
                        style="padding: 9px"
                        name="typeemp"
                        [(ngModel)]="request.typeemp"
                        value="select"
                        required
                      >
                        <option value="Internal">Internal</option>
                        <option value="Empanaled">Empanaled</option>
                        <option value="Industry Experts">
                          Industry Experts
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th></th>
                    <td>
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <button
                          type="submit"
                          class="btn btn-lg"
                          style="background-color: darkcyan"
                        >
                          SUBMIT
                        </button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
