<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">ADMIN</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="dashboard" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-columns-gap sidebarBtn"></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="courses" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-card-list"></i>
        <span class="links_name">courses</span>
      </a>
    </li>

    <li>
      <a routerLink="courses/new" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-plus-square-fill"></i>
        <span class="links_name">add Course</span>
      </a>
    </li>

    <li>
      <a routerLink="students" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-ui-checks"></i>
        <span class="links_name">students</span>
      </a>
    </li>

    <li>
      <a routerLink="students/requests" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-envelope-open-fill"></i>
        <span class="links_name">student requests</span>
      </a>
    </li>

    <li>
      <a routerLink="students" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-list-check"></i>
        <span class="links_name">students</span>
      </a>
    </li>
    <li>
      <a routerLink="/professors" *ngIf="_adminService.loggedIn()">
        <i class="bi bi-file-earmark-image-fill"></i>
        <span class="link_name">professors</span>
      </a>
    </li>

    <li class="log_out" *ngIf="_adminService.loggedIn()" (click)="logoutUser()">
      <a>
        <i class="bi bi-box-arrow-right"></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  };
</script>
