<app-header></app-header>


<div width="100%" style=" margin-left: 2%; margin-right: 2%;">
<section>
  
  <div >
  <h1 style="font-size: 40px;margin-top: 3%; margin-left:5%"><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;&nbsp;Knowledge has power. It controls access to opportunity and advancement&nbsp;&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i></h1>
  
 <h1 style="margin-right: 5%; margin-left: 60%;">-Peter Drucker-</h1>
 </div>
  <div class="col-md-12">
  <p style="margin-left:12%;margin-right: 12%;font-size: 25px; margin-top: 3%;color:rgb(12, 63, 63);"><i>Share your Knowledge by becoming a part of ICT Academy of Kerala!</i></p>
  </div>
</section >
<section class="first-sec" style="margin-top:5%">
  <div class="row">
    <div class="col-md-4" id="first">
      <h1>What is ICT Academy of Kerala?</h1>
      <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private
         Partnership model (PPP) for imparting ICT skills to the youths of Kerala
         and improve their employability opportunities in the Industry. The Company
         is supported by Govt. of India , partnered by Govt. of Kerala and the IT
         industry.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <!-- <iframe class="embed-responsive-item" src="./assets/ICTAK_55Sec.mp4?rel=0"  allowfullscreen></iframe> -->
        <video style="border-radius: .5em;" controls>
          <source src="./assets/ICTAK_55Sec.mp4" type="video/mp4">
      </video>
      </div>
    </div>
  </div>
</section>
<section class="second-sec">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
 <img src="./assets/F.png">

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 5%;">
    <h2>Our Key Focus Areas</h2>
     <p>✔  Industry focused enablement programmes for Faculty members</p>
     <p>✔ Industry focused ICT Skills development programmes for Students </p>
     <p>✔ Project assignments related to capability building for Institutions and Corporate. </p>
     <p>✔ Creating Intellectual Property on niche skill areas and emerging technologies.  </p>
    </div>
  </div>
</section>
<section class="third-sec">
  
  <div class="row">
    
  <div class="col-md-7">
    <h2 style="margin-left: 3%;" class="vision">To emerge as the single-point establishment for all the ICT related capability building
       in the State</h2>
  </div>
  <div class="col-md-5">
    <img class="img-custom " src="./assets/Vision.png">
  </div>
  </div>
</section>
<section >
  <p class="last-sec">We conduct various programs which leverages the link between industry and academia. These interactions
     not only limits to students, but also extends to faculties too. The institute can encourage their faculties,
     scientists, technicians and students to interact with industry in all possible ways with the spirit of deriving
     mutual benefits. This increases understanding between the Institute and industries to bring the two sides emotionally
     and strategically closer.</p>
</section>
</div>
<app-footer></app-footer>
 