<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0 text-center text-warning">
            Edit Course {{ course.title }}
          </h3>
        </div>
        <div class="card-body">
          <!-- we gives the name used in the ts file here to connect with html -->
          <form [formGroup]="courseForm" (ngSubmit)="updateCourse()">
            <div class="form-group">
              <label class="form-label">Course Title:</label>
              <input class="form-control" type="text" formControlName="title" />
            </div>
            <div class="form-group">
              <label class="form-label">Duration of Course:</label>
              <input
                class="form-control"
                type="text"
                formControlName="duration"
              />
            </div>
            <div class="form-group">
              <label class="form-label">Course Fee</label>
              <!-- we gives formControlName the exact we used in ts file -->
              <input class="form-control" type="text" formControlName="fee" />
            </div>

            <div class="form-group">
              <label class="form-label">Maximum Age Limit:</label>
              <input
                class="form-control"
                type="text"
                formControlName="ageLimit"
              />
            </div>
            <div class="form-group">
              <label class="form-label" for="description">Description</label>
              <textarea
                class="form-control"
                type="text"
                id="description"
                rows="6"
                formControlName="description"
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button
                [disabled]="courseForm.invalid"
                type="submit"
                style="margin: 0 17rem; text-align: center"
                class="btn btn-success float-right"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
