<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bi bi-person-lines-fill"></i>
      <span class="dashboard">Enrollment Form</span>
    </div>
  </nav>
  <div class="home-content">
    <div class="signup-form">
      <form
        (ngSubmit)="addRequest()"
        class="register-form"
        #trainerEnroll="ngForm"
        ngNativeValidate
      >
        <div class="Image">
          <img
            [src]="url"
            class="rounded mx-auto d-block"
            width="150vh"
            name="img"
            height="200vh"
            [(ngModel)]="img"
            alt="..."
            style="margin-left: 20%"
          />
          <label
            for="file"
            class="required"
            id="photo"
            style="margin-left: 41%"
          >
            Choose Photo</label
          >
          <input
            type="file"
            name="first_name"
            class="custom"
            id="file"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>
        <div class="form-row row">
          <div class="form-group col-md-5">
            <div class="form-input">
              <label for="first_name" class="required">First name</label>
              <input
                type="text"
                name="fname"
                id="first_name"
                [(ngModel)]="fname"
                required
              />
            </div>
            <div class="form-input">
              <label for="last_name" class="required">Last name</label>
              <input
                type="text"
                name="lname"
                id="last_name"
                [(ngModel)]="lname"
                required
              />
            </div>
            <div class="form-input">
              <label for="company" class="required">Address</label>
              <input
                type="address"
                name="address"
                id="address"
                [(ngModel)]="address"
                required
              />
            </div>
            <div class="form-input">
              <label for="email" class="required">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                [(ngModel)]="email"
                disabled
                required
              />
            </div>
            <div class="form-input">
              <label for="phone_number" class="required">Phone number</label>
              <input
                type="text"
                pattern="^((\\+91-?)|0)?[0-9]{10}$"
                name="phno"
                id="phone_number"
                [(ngModel)]="phno"
                required
                #phnField="ngModel"
              />
              <span
                style="
                  color: Red;
                  background-color: rgb(255, 217, 215);
                  padding: 6px;
                  margin-top: 5%;
                "
                *ngIf="phnField.errors"
                >Give a valid Phone No!</span
              >
            </div>
          </div>
          <div class="form-group col-md-5">
            <div class="form-input">
              <label for="qual" class="required">Highest Qualification</label>
              <input
                type="text"
                name="qual"
                id="qual"
                [(ngModel)]="qual"
                required
              />
            </div>
            <div class="form-input">
              <label for="skill">Skill Set</label>
              <input
                type="text"
                name="skill"
                id="skill"
                [(ngModel)]="skill"
                required
              />
            </div>
            <div class="form-input">
              <label for="company">Current Company</label>
              <input
                type="text"
                name="comp"
                id="company"
                [(ngModel)]="comp"
                required
              />
            </div>
            <div class="form-input">
              <label for="blank_name">Current Designation</label>
              <input
                type="text"
                name="desgn"
                id="dest"
                [(ngModel)]="desgn"
                required
              />
            </div>

            <div class="form-input">
              <label for="course" class="required">ICTAK Course Handling</label>
              <div class="form-input">
                <select
                  class="form-select form-select-lg"
                  style="padding: 9px"
                  name="course"
                  [(ngModel)]="course"
                  value="select"
                  required
                >
                  <option *ngFor="let course of courses">{{ course }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-submit">
          <button
            type="submit"
            value="Submit"
            [disabled]="trainerEnroll.form.invalid"
            click="validate()"
            class="submit"
            id="submit"
            name="submit"
          >
            Submit
          </button>
          <input
            type="reset"
            value="Reset"
            class="submit"
            id="reset"
            name="reset"
          />
        </div>
      </form>
    </div>
  </div>
</section>
