<app-header></app-header>
<div style="padding: 50px" class="signuppage">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
        for="tab-1"
        class="tab"
        >Sign Up</label
      >
      <input id="tab-2" type="radio" name="tab" class="for-pwd" /><label
        for="tab-2"
        class="tab"
        hidden
      ></label>
      <div class="login-form">
        <form (ngSubmit)="AddTrainer()" ngNativeValidate #trainerlogin="ngForm">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">Email</label>
              <input
                id="user"
                type="text"
                class="input"
                name="traineremail"
                placeholder="Enter your Email"
                required
                #traineremail="ngModel"
                [(ngModel)]="userItem.traineremail"
                [class.is-invalid]="traineremail.invalid"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              />
              <small
                class="text-danger"
                [class.d-none]="traineremail.valid || traineremail.untouched"
                >&nbsp; Enter a valid email</small
              >
            </div>
            <div class="group">
              <label for="username" class="label">User Name</label>
              <input
                id="username"
                type="text"
                class="input"
                name="trainerusername"
                placeholder="Enter your Name"
                required
                #trainerusername="ngModel"
                [(ngModel)]="userItem.trainerusername"
                pattern="[A-Za-z ]{1,32}"
                [class.is-invalid]="trainerusername.invalid"
              />
              <small
                class="text-danger"
                [class.d-none]="
                  trainerusername.valid || trainerusername.untouched
                "
                >&nbsp; Enter a valid name</small
              >
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
                name="trainerpass"
                placeholder="Enter your password"
                required
                minlength="6"
                #trainerpass="ngModel"
                [(ngModel)]="userItem.trainerpass"
                [class.is-invalid]="trainerpass.invalid"
              />
              <small
                class="text-danger"
                [class.d-none]="trainerpass.valid || trainerpass.untouched"
                >&nbsp; Enter a valid password</small
              >
            </div>
            <div class="group">
              <button class="button">SIGN UP</button>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <small style="color: aliceblue">Already have an account?</small>
              <a routerLink="/login" class="Lgin" style="text-decoration: none"
                ><b> Log In</b></a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
