<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <span class="links_name">Success</span>
    </div>
    
  </nav>

  <div class="home-content">
  <div class="card" style="width: 30rem;">
    <img class="card-img-top" src="./assets/image1.png" alt="Card image cap" >
    <div class="card-body" >
      <h5 class="card-title">Registration Success</h5>
      <p class="card-text">We'll go through your details and get back to you soon</p>
      <button (click)="goBack()" class="btn btn-primary">Go back </button>
    </div>
  </div>
  </div>
  </section>
  
