<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>Walk with us !</p>
      <button class="btnRegister" type="button" routerLink="/employeelogin">
        Login</button
      ><br />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 register-right">
      <ul
        style="width: 200px"
        class="nav nav-tabs nav-justified"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-tab"
            data-toggle="tab"
            routerLink="/register"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Student
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            id="profile-tab"
            data-toggle="tab"
            routerLink="/employeeregister"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Employee</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Apply As Employee</h3>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <!-- form begins -->
          <div class="row register-form">
            <form [formGroup]="employeeForm" (ngSubmit)="registerEmployee()">
              <div class="row register-form">
                <!-- LEFT SIDE -->
                <div class="col-md-6">
                  <!-- FNAME -->

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="first Name *"
                      required
                      formControlName="fname"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('fname').valid &&
                        employeeForm.get('fname').touched
                      "
                      class="help-block"
                      >first Name cannot be blank!</span
                    >
                  </div>
                  <!-- email -->
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="email *"
                      required
                      formControlName="email"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('email').valid &&
                        employeeForm.get('email').touched
                      "
                      class="help-block"
                      >Enter Valid email!</span
                    >
                  </div>
                  <!-- DOB -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      min="1980-01-01"
                      max="2000-01-01"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      placeholder="Birth Date"
                      required
                      formControlName="DOB"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('DOB').valid &&
                        employeeForm.get('DOB').touched
                      "
                      class="help-block"
                      >Enter Correct D.O.B!</span
                    >
                  </div>
                  <!-- qual -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="qual"
                    >
                      <option class="hidden" value="" disabled selected>
                        Highest Qualification *
                      </option>
                      <option value="Post Graduate In Computer Science">
                        PG In CS
                      </option>
                      <option value="PHD In Computer Science">PHD In CS</option>
                    </select>
                    <span
                      *ngIf="
                        !employeeForm.get('qual').valid &&
                        employeeForm.get('qual').touched
                      "
                      class="help-block"
                      >Qualification cannot be blank</span
                    >
                  </div>
                  <!-- company -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="current company*"
                      required
                      formControlName="comp"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('comp').valid &&
                        employeeForm.get('comp').touched
                      "
                      class="help-block"
                      >company name shouldnot be empty</span
                    >
                  </div>
                  <!-- course -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="course"
                    >
                      <option class="hidden" value="" disabled selected>
                        ictak course handling *
                      </option>
                      <option *ngFor="let c of courses" [value]="c">
                        {{ c }}
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !employeeForm.get('course').valid &&
                        employeeForm.get('course').touched
                      "
                      class="help-block"
                      >course name shouldnot be empty</span
                    >
                  </div>

                  <!-- State -->
                  <div class="form-group">
                    <select
                      class="form-control"
                      required
                      formControlName="State"
                    >
                      <option class="hidden" value="" disabled selected>
                        State *
                      </option>
                      <option *ngFor="let s of states" [value]="s">
                        {{ s }}
                      </option>
                      <!-- <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Andaman and Nicobar Islands">
                        Andaman and Nicobar Islands
                      </option>
                      <option value="Arunachal Pradesh">
                        Arunachal Pradesh
                      </option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Dadar and Nagar Haveli">
                        Dadar and Nagar Haveli
                      </option>
                      <option value="Daman and Diu">Daman and Diu</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Lakshadweep">Lakshadweep</option>
                      <option value="Puducherry">Puducherry</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jammu and Kashmir">
                        Jammu and Kashmir
                      </option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option> -->
                    </select>

                    <span
                      *ngIf="
                        !employeeForm.get('State').valid &&
                        employeeForm.get('State').touched
                      "
                      class="help-block"
                      >State cannot be empty!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Post *"
                      required
                      formControlName="Post"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('Post').valid &&
                        employeeForm.get('Post').touched
                      "
                      class="help-block"
                      >Post Name Cannot be blank!</span
                    >
                  </div>
                  <!-- Gender -->
                  <div class="form-group">
                    <div class="maxl">
                      <label class="radio inline">
                        <input
                          type="radio"
                          required
                          formControlName="Gender"
                          Name="Gender"
                          value="Male"
                          checked
                        />
                        <span> Male </span>
                      </label>
                      <label class="radio inline">
                        <input
                          type="radio"
                          Name="Gender"
                          required
                          formControlName="Gender"
                          value="Female"
                        />
                        <span>Female </span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- right side -->
                <div class="col-md-6">
                  <!-- lname -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="last Name *"
                      required
                      formControlName="lname"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('lname').valid &&
                        employeeForm.get('lname').touched
                      "
                      class="help-block"
                      >last Name cannot be blank!</span
                    >
                  </div>

                  <!-- phno -->
                  <div class="form-group">
                    <input
                      type="text"
                      Name="txtEmpPhone"
                      class="form-control"
                      placeholder="phone *"
                      required
                      formControlName="phno"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('phno').valid &&
                        employeeForm.get('phno').touched
                      "
                      class="help-block"
                      >Enter valid phno number!</span
                    >
                  </div>
                  <!-- image -->
                  <div class="form-group form-file">
                    <input
                      type="file"
                      class="form-file-input form-control"
                      (change)="selectImage($event)"
                      accept="image/png, image/gif, image/jpeg"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('img').valid &&
                        employeeForm.get('img').touched
                      "
                      class="help-block"
                      >image cannot be empty!</span
                    >
                  </div>

                  <!-- company -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="designation*"
                      required
                      formControlName="desgn"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('desgn').valid &&
                        employeeForm.get('desgn').touched
                      "
                      class="help-block"
                      >designation required</span
                    >
                  </div>
                  <!-- skill -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="skill sets *"
                      required
                      formControlName="skill"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('skill').valid &&
                        employeeForm.get('skill').touched
                      "
                      class="help-block"
                      >skill set is required</span
                    >
                  </div>
                  <!-- address -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="address "
                      required
                      formControlName="address"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('address').valid &&
                        employeeForm.get('address').touched
                      "
                      class="help-block"
                      >choose a valid year!</span
                    >
                  </div>
                  <!-- District -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="District *"
                      required
                      formControlName="District"
                      type="text"
                    />
                    <span
                      *ngIf="
                        employeeForm.get('District').invalid &&
                        employeeForm.get('District').touched
                      "
                      class="help-block"
                      >District cannot be blank !</span
                    >
                  </div>
                  <!-- pincodde -->
                  <div class="form-group">
                    <input
                      placeholder="enter pincode "
                      type="number"
                      min="100000"
                      max="999999"
                      class="form-control"
                      required
                      formControlName="PinCode"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('PinCode').valid &&
                        employeeForm.get('PinCode').touched
                      "
                      class="help-block"
                      >Enter Valid pin code !</span
                    >
                  </div>
                  <!-- button -->
                  <button type="submit" class="btnRegister">register</button>
                </div>
                <!-- <div class="col-md-12">
                  <label for="inputCourses" class="form-label">ICTAK Course handling</label>
                  <ng-select [items]="categories"  
                             bindLabel="name"  
                             placeholder="Select Category" 
                             name="ictakcourses" 
                             appendTo="body"    
                             [multiple]="true"  
                              required>  
              </ng-select>  
              <small class="form-text text-muted" *ngIf="
              !employeeForm.get('course').valid &&
              employeeForm.get('course').touched
            " class="form-label text-danger">Select atleast one course</small>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
