<nav class="navbar fixed-top navbar-expand-md flex navbar-new-top">
  <img
    class="navbar-brand"
    width="100"
    style="margin-left: 20px"
    height="100"
    src="./assets/ictaklogo.png"
    alt=""
  />
  <h3 class="navbar-brand">Course Management System</h3>
  <ul class="nav navbar-nav mr-auto"></ul>

  <ul class="navbar-nav w-100 justify-content-center px-3">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li *ngIf="this._auth.getUser() == 'admin'" class="nav-item">
      <a class="nav-link" routerLink="/admin">Professor</a>
    </li>
    <li *ngIf="this._auth.getUser() !== 'admin'" class="nav-item">
      <a class="nav-link" routerLink="/">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student/Enroll">Enroll</a>
    </li>
    <li *ngIf="!_auth.loggedIn()" class="nav-item">
      <a class="nav-link" routerLink="/professor/login">Log In</a>
    </li>
    <li *ngIf="_auth.loggedIn()" (click)="logoutUser()" class="nav-item">
      <a class="nav-link">Log out</a>
    </li>
  </ul>
</nav>
