<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn new"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn new"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Next
      </div>
    </div>
  </div>
      <!--======================================================================== -->

  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <div *ngFor="let event of events">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{
          event.title
        }}</span>
      </div>
      <span class="cal-day-number">{{
        day.date | calendarDate: "monthViewDayNumber":locale
      }}</span>
    </div>
  </ng-template>
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event.day)"
    [viewDate]="viewDate"
    [events]="events"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
</div>
