<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bi bi-envelope-open-fill"></i>
      <span class="dashboard">Trainer Requests</span>
    </div>
  </nav>

  <div class="home-content">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <th>Name</th>
                      <th>Highest Qualification</th>
                      <th>Skill Set</th>
                      <th>Current Company</th>
                      <th>Current Designation</th>
                      <th>ICTAK Course</th>
                      <!-- <th>Type of Employment</th> -->
                      <th>Approve</th>
                      <th>Reject</th>
                    </thead>
                    <tbody *ngIf="requests && requests.length">
                      <tr *ngFor="let request of requests">
                        <td>{{ request.fname }} {{ request.lname }}</td>
                        <td>
                          {{ request.qual }}
                        </td>
                        <td>
                          {{ request.skill }}
                        </td>
                        <td>
                          {{ request.comp }}
                        </td>
                        <td>
                          {{ request.desgn }}
                        </td>
                        <td>
                          {{ request.course }}
                        </td>

                        <td>
                          <i
                            class="bi bi-check-lg"
                            style="font-size: 2em; color: black"
                            (click)="Approve(request)"
                          ></i>
                        </td>
                        <td>
                          <i
                            class="bi bi-x-lg"
                            style="font-size: 2em; color: black"
                            (click)="Reject(request)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <th>
  Type of Employment
   <select name="" id="">
    <option value="">Internal</option>
    <option value="">Empanaled</option>
    <option value="">Industry Experts</option>
  </select> 
</th> -->
