
<footer class="text-center text-white" style="background-color: rgba(24, 24, 24, 0.2);">
  <!-- Grid container -->
  <div class="container pt-4" >
    <!-- Section: Social media -->
    <section class="mb-4" >
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/ictkerala/" 
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-facebook"></i
      ></a>


      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-google"></i>
      </a>


      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/ict-academy-of-kerala"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-linkedin"></i></a>
      <!-- Email -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:info@ictkerala.org"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-envelope"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" >ICT Academy of Kerala</a>
  </div>
  <!-- Copyright -->
</footer>