@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

 p{
    color: black;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #d1d5db
}

.name {
    color: blue
}

.work {
    font-weight: bold;
    font-size: 15px
}

.about span {
    font-size: 13px
}

.v-profile {
    color: blue;
    cursor: pointer
}

.box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72)
}

.col-md-3 {
    margin-top: 10px
}


.height {
    height: 100vh
}

.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.d-flex {
    padding-left: 30px;
    padding-right: 30px;
}

.form-control {
    height: 55px;
    text-indent: 33px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 10px;
    border-right: 10px;
    
}

.form-control:focus {
    box-shadow: rgb(100, 10, 173);
    border: rgb(100, 10, 173);
}

button{
    padding: 12px 20px;
    background: #9971e4;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    
    
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #9366e6;
    border: 2px solid #cec7cb;
    }
