<br />
<br />

<form class="d-flex" #searchForm="ngForm" (ngSubmit)="Search(searchForm)">
  <input
    class="form-control me-2"
    type="search"
    [(ngModel)]="search.text"
    name="text"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="container text-center mt-5 mb-2">
  <h1 class="mb-0">Meet Our Trainers</h1>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let trainer of trainersdata">
      <div class="bg-white p-3 text-center rounded box">
        <img
          class="img-responsive rounded-circle"
          src="../../assets/img/{{ trainer.img }}"
          width="90"
        />
        <h5 class="mt-3 name">{{ trainer.fname }}{{ trainer.lname }}</h5>
        <span class="work d-block">{{ trainer.email }}</span
        ><span class="work d-block">ID&nbsp;:&nbsp;{{ trainer.id }} </span>
        <div class="mt-4 about">
          <span>
            <p class="card-text text-muted">
              Phone &nbsp;:&nbsp; {{ trainer.phno }}
            </p>
            <p class="card-text text-muted">
              Highest Qualification &nbsp;: &nbsp;{{ trainer.qual }}
            </p>
            <p class="card-text text-muted">
              Type of Employment &nbsp; : &nbsp; {{ trainer.typeemp }}
            </p>
          </span>
        </div>
        <div class="mt-4">
          <h6
            class="v-profile"
            data-bs-toggle="collapse"
            data-bs-target=".collapse"
            aria-expanded="false"
            aria-controls="collapse"
          >
            View Profile
          </h6>
          <div class="collapse">
            <p class="card-text text-muted">
              Address &nbsp;:&nbsp; {{ trainer.address }}
            </p>
            <p class="card-text text-muted">
              Skill Set &nbsp; : &nbsp; {{ trainer.skill }}
            </p>
            <p class="card-text text-muted">
              Current Company Name &nbsp;: &nbsp;{{ trainer.comp }}
            </p>
            <p class="card-text text-muted">
              Current Designation &nbsp;: &nbsp;{{ trainer.desgn }}
            </p>
            <p class="card-text text-muted">
              ICTAK Courses Handling &nbsp;: &nbsp; {{ trainer.course }}
            </p>
            <button (click)="deleteTrainer(trainer)">Delete</button>
            &nbsp;&nbsp;
            <button (click)="editTrainer(trainer)">Edit</button> &nbsp;&nbsp;
            <button (click)="allocateTrainer(trainer)">Allocate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
