<app-header></app-header>
<div class="container-fluid">
  <h4>Student Details</h4>

  <table
    #dataTable
    id="display"
    class="
      table
      table-hover
      table-responsive-sm
      table-responsive-md
      table-responsive-lg
    "
  >
    <thead class="bg-danger">
      <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Course</th>
        <th>Highest Qualification</th>
        <th>Pass Out Year</th>
        <th>State</th>
        <th>District</th>
        <th>Post</th>
        <th>PinCode</th>
        <th>Status</th>
        <th>Payment Date</th>
        <th>Approval Date</th>
      </tr>

      <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Course</th>
        <th>Highest Qualification</th>
        <th>Pass Out Year</th>
        <th>State</th>
        <th>District</th>
        <th>Payment Date</th>
        <th>Approval Date</th>
      </tr>
    </thead>

    <!-- loading spinner -->
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </table>

  <button (click)="generateCSV()" class="btn btn-block btn-primary">
    Generate Report
  </button>
</div>
<app-footer></app-footer>
