<app-header></app-header>
<body>
  <main>
    <div class="container">
      <div class="sign-up">
        <div class="top-box">
          <div class="text">
            <h1>Welcome</h1>
            <h2>Wish you a good day.</h2>
          </div>
          <div class="mobile"></div>
        </div>
        <div class="bottom-box">
          <div class="register" id="ul1">
            <ul
              style="width: 200px"
              class="nav nav-tabs nav-justified"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-toggle="tab"
                  routerLink="/professor/login"
                  role="tab"
                  aria-selected="true"
                  >Trainer</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="tab"
                  routerLink="/student/login"
                  role="tab"
                  aria-selected="false"
                >
                  Student
                </a>
              </li>
            </ul>
          </div>
          <form
            action=""
            class="login"
            [formGroup]="empLoginForm"
            (ngSubmit)="loginUser()"
          >
            <p>Email</p>
            <input
              type="email"
              formControlName="Email"
              placeholder="john@example.com"
              class="email"
            />
            <span
              *ngIf="
                empLoginForm.get('Email').invalid &&
                empLoginForm.get('Email').touched
              "
              class="help-block"
              >Enter valid Email</span
            >
            <div *ngIf="isLoading" style="text-align: center">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <p>Password</p>
            <input
              type="password"
              formControlName="Password"
              placeholder="At least 8 characters"
              class="password"
            />
            <span
              *ngIf="
                empLoginForm.get('Password').invalid &&
                empLoginForm.get('Password').touched
              "
              class="help-block"
              >Enter valid Password</span
            >
            <div class="checkbox">
              <input type="checkbox" />
              <p class="chk">
                By creating an account, you<br />
                agree to the
                <span
                  >Terms &<br />
                  Conditions.</span
                >
              </p>
              <br />
            </div>
            <input type="submit" value="Create an Account" />
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

<app-footer></app-footer>
