<app-header></app-header>
<div class="loginpage" style="padding: 50px">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
        for="tab-1"
        class="tab"
        >Trainer</label
      >
      <input id="tab-2" type="radio" name="tab" class="for-pwd" /><label
        for="tab-2"
        class="tab"
        >Admin</label
      >
      <div class="login-form">
        <div class="sign-in-htm">
          <form
            ngNativeValidate
            (ngSubmit)="loginTrainer()"
            #trainerlogin="ngForm"
          >
            <div class="group">
              <label for="traineremail" class="label">Email</label>
              <input
                id="traineremail"
                type="email"
                class="input form-control"
                name="traineremail"
                placeholder="Enter your Email"
                required
                [(ngModel)]="trainer.traineremail"
              />
            </div>
            <div class="group">
              <label for="trainerpass" class="label">Password</label>
              <input
                id="trainerpass"
                type="password"
                class="input form-control"
                data-type="password"
                name="trainerpass"
                [(ngModel)]="trainer.trainerpass"
                placeholder="Enter your password"
                required
                minlength="6"
              />
            </div>
            <div class="group">
              <button type="submit" class="button"><b>LOGIN</b></button>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <small style="color: aliceblue">Don't have an account?</small>
              <a routerLink="/signup" class="Sgnup"><b> Sign Up</b></a>
            </div>
          </form>
        </div>
        <div class="for-pwd-htm">
          <form
            action=""
            ngNativeValidate
            (ngSubmit)="loginAdmin()"
            #adminlogin="ngForm"
          >
            <div class="group form-group">
              <label for="adminemail" class="label"> Email</label>
              <input
                id="adminemail"
                type="email"
                class="input form-control"
                name="adminemail"
                [(ngModel)]="user.adminemail"
                placeholder="Enter your Email"
                required
              />
            </div>
            <div class="group form-group">
              <label for="adminpass" class="label">Password</label>
              <input
                id="adminpass"
                type="password"
                class="input form-control"
                minlength="6"
                data-type="password"
                name="adminpass"
                [(ngModel)]="user.adminpass"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="group">
              <button
                type="submit"
                class="button"
                style="background-color: rgb(0, 104, 104)"
              >
                LOGIN
              </button>
            </div>
            <div class="hr"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
